* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f38630;
  overflow-x: hidden;
}

header {
  position: fixed;
  display: flex;
  height: 100px;
  width: 100vw;
  top: 0;
  justify-content: space-between;
  font-size: 1.5em;
  background-color: #fa6900;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header h1 {
  margin-left: 30px;
  align-self: center;
  color: white;
}
header button {
  align-self: center;
  height: 50px;
  width: 120px;
  margin-right: 30px;
  border: none;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  border-radius: 30px;
}

header button:hover {
  background-color: #f38630;
}

main {
  display: flex;
  color: black;
  margin-top: 110px;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 650px auto;
  max-width: 650px;
  align-items: center;
  text-align: justify;
  transition: 0.2s;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin: 10px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.row-dropdown {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  display: inline-block;
  align-self: flex-end;
}

.dropdown-content {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  margin-right: 10px;
}

.dropdown-content button {
  border: none;
  margin: 10px;
  color: white;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  width: 160px;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.post-header {
  text-align: center;
  width: 100%;
}

.post-header h1 {
  margin: 10px;
}

.post-body {
  margin: 10px;
  width: 90%;
  height: auto;
  word-wrap: break-word;
  text-align: center;
}

.post-body p {
  margin-top: 10px;
}

.post-comment-icons {
  border-top: 1px solid #f38630;
  width: 95%;
  display: flex;
  justify-content: center;
}

.post-comment-icons button {
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.post-comment-icons button:hover {
  color: #fa6900;
}

::-webkit-scrollbar {
  width: 13px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid #f38630;
  border-radius: 10px;
  width: auto;
  margin-bottom: 10px;
  transition: 0.2s;
  margin: 10px;
}

.comment-list {
  width: 98%;

  border-radius: 10px;
  margin: 10px;
}

.comment-body {
  margin: 10px;
  width: 90%;
  height: auto;
  word-wrap: break-word;
  text-align: left;
}

.row .comment-date {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.comment-date {
  color: #f38630;
  margin: 10px;
}

.row-date {
  display: flex;
  color: #f38630;
  width: 100%;
  margin: 10px;
}

.row-date span {
  margin-left: 10px;
}

.row-comment {
  display: flex;
  border-top: 1px solid #f38630;
  width: 96%;
  justify-content: center;
}

.row-comment span {
  font-size: 20px;
  margin-top: 10px;
}
